<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title>{{ title }}</title>
</head>

<body>

<div class="login">
  <form action="/login" method="post">
    <h2 class="active"> sign in </h2>

    <input type="text" class="text" name="username">
    <span>username</span>

    <br>

    <br>

    <input type="password" class="text" name="password">
    <span>password</span>
    <br>

    <button class="signin">
        Sign In
    </button>

    <br>
    
    <br>

    <hr>

    <a>Atacado Games</a>
  </form>

</div>


</body>

</html>